DEBUG=1

MODE=

BOT_TOKEN=
HOST_URL=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

API_KEY=

# auth configuration
TOKEN_KEY=
ACCESS_TOKEN_LIFETIME_MINUTES=
REFRESH_TOKEN_LIFETIME_MINUTES=

BASE_ADMIN_EMAIL=
BASE_ADMIN_PASS=

SENTRY_DSN=