<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            
            <div class="vocabulary-data col-8">
                <div class="input-group input-group-lg mb-3">
                    <input value="Vocabulary name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>

                <div class="lang-pairs">
                    <div class="lang-pair-item input-group mb-3">
                        <span class="input-group-text">Word</span>
                        <input type="text" class="form-control" placeholder="Foreign language" aria-label="Username">
                        <span class="input-group-text">Translation</span>
                        <input type="text" class="form-control" placeholder="Native language" aria-label="Server">
                        <button type="button" class="btn btn-outline-danger" onclick="deleteInput(this)">X</button>
                    </div>
                </div>
                <div class="vocabulary-btns d-flex justify-content-between">
                    <div>
                        <button type="button" class="btn btn-sm btn-primary add-btn">Save</button>
                        <button type="button" class="btn btn-sm btn-danger add-btn">Delete vocabulary</button>
                        <button type="button" class="btn btn-sm btn-info add-btn">Make active</button>
                        <button type="button" class="btn btn-sm btn-warning add-btn">Make inactive</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-success add-btn" onclick="addRow()">Add
                            more</button>
                    </div>
                </div>
            </div>

            <div class="vocabularies col-4">
                <h4>You're vocabularies:</h4>
                <ul class="list-group">
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                    <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                        Vocabulary
                        <span class="badge bg-primary rounded-pill">14 words</span>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        function deleteInput(button) {
            var inputGroup = button.closest('.lang-pair-item');
            inputGroup.remove();
        }

        function addRow() {
            var vocabularyData = document.querySelector('.lang-pairs');
            var newRow = document.createElement('div');
            newRow.className = 'lang-pair-item input-group mb-3';
            newRow.innerHTML = `
            <span class="input-group-text">Word</span>
            <input type="text" class="form-control" placeholder="Foreign language" aria-label="Username">
            <span class="input-group-text">Translation</span>
            <input type="text" class="form-control" placeholder="Native language" aria-label="Server">
            <button type="button" class="btn btn-outline-danger" onclick="deleteInput(this)">X</button>
        `;
            vocabularyData.appendChild(newRow);
        }
    </script>
</body>

</html>