{% extends "base.html" %}

{% block title %}
{{ current_vocabulary.name }}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-8">
        <h2>{{ current_vocabulary.name }}</h2>
        <p class="secondary">{{ current_vocabulary.created_at.strftime('%Y-%m-%d') }}</p>

        <div class="vocabulary">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Word</th>
                        <th scope="col">Translation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lp in current_vocabulary.language_pairs %}
                    <tr class="table-striped">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{lp.word}}</td>
                        <td>{{ lp.translation }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('edit_vocabulary', vocabulary_id=current_vocabulary.id) }}"
                class="btn btn-sm btn-info">Edit</a>
            <button type="button" class="btn btn-sm btn-danger add-btn">Delete vocabulary</button>
            {% if current_vocabulary.is_active %}
            <a href="{{ url_for('disable_vocabulary', vocabulary_id=current_vocabulary.id) }}" type="button"
                class="btn btn-sm btn-warning add-btn">Make inactive</a>
            {% else %}
            <a href="{{ url_for('activate_vocabulary', vocabulary_id=current_vocabulary.id) }}" type="button"
                class="btn btn-sm btn-info add-btn">Make active</a>
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        {% include 'include/_sidebar.html' %}
    </div>
</div>
{% endblock content %}